.sold {
  padding: auto;
  margin: auto;
  font-size: 60px;
  line-height: 90%;
  width: 400px;
  text-align: center;
  border-style: dashed;
  border-radius: 20px;
  /* transform: rotateY(360deg); */
  /* transition: transform 0.5s; */
  background-color: gold;
}
.boxes {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.container {
  padding: auto;
  margin: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 150px;
  perspective: 100px;
  width: 100%;
}
.box {
  border-style: double;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}
.container {
  height: 1150px;
  width: 100%;
  perspective: 1000px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: gold;
}

.image {
  margin-left: 700px;
  height: 1px;
  animation: moveAnimation 10s infinite;
}
.img {
  animation: moveAnimation 10s infinite;
}
@keyframes moveAnimation {
  0% {
    transform: translateX(0px) rotateY(0deg);
  }
  60% {
    transform: translateX(0px) rotateY(500deg);
  }
}
